*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-header h1{
  color: #efe3e3;
}
.todo-container{
  width: 500px;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.todos{
  max-height: 500px;
  overflow-y:scroll;
}
input{
  padding: 20px;
  width: 100%;
  margin: 5px;
  border: none;
}
input:focus{
  outline-style: none;
}
input::placeholder {
  font-size: 20px;
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}
ul,li{
  padding: 10px;
  list-style: none;
}
.todo-footer{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formAddButton{
  width: 100%;
  padding: 20px;
  background-color: antiquewhite;
}
.formDeleteButton{
  width: 50%;
  padding: 20px;
}